<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.root.mybatis.chat.ChatMapper">
<resultMap type="com.market.root.chat.dto.ChatDTO" id="chat">
	<id property="bangId" column="bang_id"/>
	<result property="prodId" column="prod_id"/>
	<result property="sellerId" column="seller_id"/>
	<result property="sellerName" column="seller_name"/>
	<result property="buyerId" column="buyer_id"/>
	<result property="buyerName" column="buyer_name"/>
	<result property="sellerBang" column="seller_bang"/>
	<result property="buyerBang" column="buyer_bang"/>
</resultMap>

<!-- 채팅방 생성 -->
<insert id="addChatRoom">
	insert into chat_room(bang_id,prod_id,seller_id,seller_name,buyer_id,buyer_name,seller_bang,buyer_bang)
	values(#{bangId},#{prodId},#{sellerId},#{sellerName},#{buyerId},#{buyerName},#{sellerBang},#{buyerBang})
</insert>

<!-- 채팅목록 가져오기 -->
<select id="getChatList" resultMap="chat">
	select * from chat_room where ${c1}=#{v1}
</select>

<!-- 채팅방 한명만 삭제(0,1 or 1,0)-update -->
<update id="updateBang">
	update chat_room set ${c1}=#{v1} where bang_id=#{v2}
</update>

<!-- 채팅방 삭제 (0,0) -delete -->
<delete id="deleteZBang">
	delete from chat_room where seller_bang=0 and buyer_bang=0
</delete>

<!-- 삭제할 채팅방 불러오기 -->
<select id="delFileName" resultMap="chat">
	select * from chat_room where bang_id=#{bangId} and seller_bang='0' and buyer_bang='0'
</select>

</mapper>