<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.market.root.mybatis.member.MemberMapper">
  <resultMap type="com.market.root.member.dto.MemberDTO" id="member">
	<result property="mbrId" column="mbr_id"/>  
	<result property="mbrPw" column="mbr_pw"/>  
	<result property="mbrEmail" column="mbr_email"/>  
	<result property="mbrName" column="mbr_name"/>  
	<result property="mbrScore" column="mbr_score"/>  
	<result property="mbrLevel" column="mbr_level"/>
	<result property="mbrDate" column="mbr_date"/>
	<result property="sessionId" column="session_id"/>
	<result property="limitTime" column="limit_time"/>
  </resultMap>

	<!-- 로그인 -->
  	<select id="logChk" resultMap="member">
  		select * from mbr_info where mbr_id=#{mbrId}
  	</select>
  	
	<!-- 자동로그인 : 아이디 기준으로 sessionId와 세션유효시간 저장 -->
  	<update id="keepLogin">
  		update mbr_info set session_id=#{s},
  							limit_time=#{d}
  							where mbr_id=#{id}
  	</update>
  	
	<!-- 자동로그인 : 회원 방문 시 sessionId일치 회원조회 -->
	<select id="chkSessionId" resultMap="member">
	  	select * from mbr_info where session_id=#{sessionId}
	</select>
	
	<!-- 닉네임 중복확인 -->
	<select id="regNameChk" resultMap="member">
  		select mbr_name from mbr_info where mbr_name=#{inputName}
  	</select>
  	
	<!-- 아이디 중복확인 -->
	<select id="regIdChk" resultMap="member">
  		select mbr_id from mbr_info where mbr_id=#{inputId}
  	</select>
  	
	<!-- 회원 가입 -->
	<insert id="register">
		insert into mbr_info(mbr_name,mbr_id,mbr_pw,mbr_email) values(#{mbrName},#{mbrId},#{mbrPw},#{mbrEmail})
	</insert>
	
	
  </mapper>